/* give pointer event to shop icons */
:root {
    --green-clr: #6ECB63;
    --gray-dark-clr: #4A4A4A;
    --gray-txt-clr: #636262;
    --gray-mid-clr: #B6B6B6;
    --gray-light-clr: #F5F5F5;
    --button-gray: #DBF2D8;
    --light-pink-clr: #E9E3E2;
    --dark-pink-clr: #978481;
    --peach-clr: #EBCDCF;
    /* override the size of nav buttons of swiper */
    --swiper-navigation-size: 1rem !important;
}
.row {
    /* the first row was not in line with other rows because of gutter */
    --bs-gutter-x: 0 !important;
}
body {
    font-size: small;
    font-family:'Yekan','Times New Roman', Times, serif;
    overflow-x: hidden !important; 
}
/* Webfont: Yekan */
/* Webfont: Yekan */
@font-face {
	font-family: 'Yekan';
	src:	url('./fonts/yekan/Yekan.woff2') format('woff2'); /* Modern Browsers */
	src:	url('./fonts/yekan/Yekan.woff') format('woff'), /* Modern Browsers */
			url('./fonts/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('./fonts/yekan/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: bold;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
/* start of top header */
#all-cont {
    overflow-x: hidden;
}
#top-header {
    background-color: var(--green-clr);
}
#top-header > button {
    color: var(--green-clr);
}
#sign-up-div {
    height: 2.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}
#sign-up-div > span > a {
  color: var(--gray-txt-clr);
}
.line-icon {
    width: 2px;
    height: 20px;
}
.shop-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.heart-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* width="30" height="30" */
}

#log-in-icon > svg{
     /* width: 20px;
     height: 25px; */ 
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#search-icon {
    /* width: 30px;
    height: 30px; */
    /* width="30" height="30 */
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 2px;
}
.navbar-brand > img {
    /* width: 130px;
    height: 74px; */
    width: 3rem;
    height: 2rem;
}

#nav-brand-search-cont > form > input[type="search"]
{
   background-color: var(--gray-light-clr);
   border-color: var(--gray-light-clr);
   width: 8rem;  
   height: 2.4rem;
   padding: 0.5rem 2rem;
}

#nav-brand-search-cont > form > input[type="search"]::placeholder {
    color: var(--gray-mid-clr);
}
#nav-brand {
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 1rem;    
}
.sticky {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 10;
}
/* make top header responsive */
@media screen and (min-width:576px) {
    #top-header > button {
        font-size:medium;
    }
    .navbar-brand > img {
        /* width: 130px;
        height: 74px; */
        width: 5rem;
        height: 4rem;
    }
    #nav-brand-search-cont > form > input[type="search"] {
        width: 13rem;  
        height: 3rem;
        padding: 0.5rem 2rem;
    }
    #search-icon {
        width: 25px;
        height: 25px;
        bottom: 10px;
        right: 2px;
    }
    #sign-up-div {
        width: 8.5rem;
        height: 3rem; 
    }
    .heart-icon {
        width: 25px;
        height: 25px;
        /* width="30" height="30" */
    }
    .shop-icon {
        width: 25px;
        height: 25px;
        /* width="30" height="30" */
    }
    .line-icon {
        width: 2px;
        height: 35px;
        /* width="2" 
        height="42" */
    } 
}
@media screen and (min-width:768px) {
    body {
        font-size: medium;
    }
    #top-header > button {
        font-size:large;
    }
    .navbar-brand > img {
        width: 5rem;
        height: 4rem;
    }
    #nav-brand-search-cont > form > input[type="search"] {
        width: 20rem;  
        height: 3rem;
        padding: 0.5rem 2rem;
    }
    
}

@media screen and (min-width:992px) {
    #nav-brand-search-cont > form > input[type="search"] {
        width: 30rem;  
        height: 3rem;
        padding: 0.5rem 2rem; 
    }
}

.carousel {
    position: relative;
    width: 100%;
}
.carousel-track-container {
    position: inherit;
    width: 100%;
    height: 100%;
    
}
.carousel-track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 13.5vw;
    transform: translateY(-50%);
    border: solid 1px var(--gray-txt-clr);
    border-radius: 50%;
}
#carousel-btn-right {
  right: 3.5vw;
}
#carousel-btn-left {
  left: 3.5vw;
}
.carousel-nav {
    display: flex;
    gap: 0.7vw;
    position: absolute;
    top: 19vw;
    z-index: 1;
    padding: 10px 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

/* to do: use media to make carousel-nav responsive */

.carousel-indicator {
    z-index: 1;
    border: 0;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(99, 98, 98,0.3);   
    
}
.carousel-indicator.current-slide {
    background-color: white;
    width: 1.2rem;
    border-radius: 1rem;
}
@media screen and (min-width:778px) {
    .carousel-indicator {
        width: 0.7rem;
        height: 0.7rem;  
    }
    .carousel-indicator.current-slide {
        width: 1.7rem;
    }
    .carousel-button {
        width: 2rem;
        height: 2rem;
    }
}

#under-slider-txt {
    margin-top: 30%;
}
.office-img-cont {
    display: flex;
    justify-content: center;
}
.office-img {
    background-image: url(./pics/undraw_in_the_office_re_jtgc\ 1.png);
    width: 12rem;
    height: 10rem;
    background-size: 12rem 10rem;
    text-align: center;
}
.green-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 5px var(--green-clr) solid;
    border-radius: 1.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
    width: fit-content;
    height: auto;
    max-width: 18rem;
    cursor: grab;
    padding: 0.8rem;
    user-select: none;  
}
.green-card .card-title {
    font-size: medium;
}

.green-card .card-text {
    display: flex;
    align-items: center;
    font-weight: bold !important;
    font-size: 1rem;
    color: var(--gray-txt-clr);
    height: 13.2rem;
    padding: 1rem;
}
@media screen and (min-width:576px) {
    .green-card .card-text {
        height: 13.5rem;
    }
}
@media screen and (min-width: 778px) {
    .green-card .card-text {
        height: 14rem;
    }
}

.green-card .card-body  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
}
.green-card .card-body > a {
    background-color: var(--green-clr);
    color: white;
    font-size: medium;
    padding: 0.5rem;
}
@media screen and (min-width:778px) {
    .green-card .card-body > a {
        font-size: 1rem;
    }
    .green-card .card-title {
        font-size: larger;
    }
}

.card-3-img, .card-2-img,
 .card-1-img, .card-6-img,
  .card-5-img, .card-4-img,
  .card-7-img, .card-8-img, .card-9-img,
  .card-10-img, .card-11-img, .card-12-img {
    border: solid var(--green-clr) 2px;
    border-radius: 50%;
    padding: 0.5rem; 
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.5rem;
}
.card-3-img > img, .card-2-img >
 img, .card-1-img > img,
  .card-6-img > img, .card-5-img > img,
   .card-4-img > img,
   .card-7-img > img,
   .card-8-img > img,
   .card-9-img > img,
   .card-10-img > img,
   .card-11-img > img,
   .card-12-img > img {
    width: 2.5rem;
    height: 2.5rem;
}
@media screen and (min-width:992px) {
    .card-3-img > img, .card-2-img >
    img, .card-1-img > img,
     .card-6-img > img, .card-5-img > img,
      .card-4-img > img,
      .card-7-img > img,
      .card-8-img > img,
      .card-9-img > img,
      .card-10-img > img,
      .card-11-img > img,
      .card-12-img > img  {
    width: 3rem;
    height: 3rem;
  }
  .card-3-img, .card-2-img,
 .card-1-img, .card-6-img,
  .card-5-img, .card-4-img,
  .card-7-img, .card-8-img,
   .card-9-img, .card-10-img,
    .card-11-img, .card-12-img  {
    border: solid var(--green-clr) 3px !important;
    padding: 0.7rem; 
}
}
.swiper-el{
    position: relative;
    border: 1px solid var(--gray-mid-clr);
    border-radius: 1.2rem;
    max-width: 14rem;
    width: fit-content;  
    height: fit-content; 
    cursor: grab;
    padding: 0;
    user-select: none;
}
.swiper-el button {
    width: 2rem;
    height: 2rem;
    background-color: var(--gray-mid-clr);
    color: white;
    bottom: 10rem !important;
    right: 4rem !important;
    padding: 0px;
}
#img-plus-eye-icon {
    height: 55%;
}
#img-plus-eye-icon img{
  filter: contrast(120%);
  width: 100%;
}
.swiper-navBtn {
    color: black !important;
    background-color: white;
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50%;
}
.swiper-el button > i {
    text-align: center;
    line-height: 1.9rem;
}
.html-framework-text {
    text-decoration: underline;
    text-decoration-color: #EC9CD3;
    text-underline-offset: 0.7rem;
}
.html-framework-card-dark-btn {
    background-color: var(--gray-txt-clr);
}

#html-framework-title {
    background-color: var(--button-gray);
    width: max-content;
    padding: 0.5rem;
    margin:0 auto;
    color: var(--gray-txt-clr);
    border-radius: 7px; 
}
#html-framework-title + p {
    color: var(--gray-txt-clr);
}
#html-framework-shop-icon {
    border: solid var(--gray-mid-clr) 1px;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.small-card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.small-card-cont .small-card {
   display: flex;
   gap: 0.2rem;
   align-items: center;
   background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #EC9CD3, #6084F6) border-box;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  width: fit-content;
  max-width: 20rem;
  height: fit-content;
  padding: 1px 1rem;
  font-size: smaller;
}
.small-card-cont .small-card img {
    width: 50px;
    height: 50px;
}

.plan-card {
    display: flex;
    flex: 1 1 auto;
    border: var(--gray-txt-clr);
    max-width: 25rem;
    width: fit-content;
    height: fit-content;
    max-width: 22rem;
    margin: 0 auto;
    padding: 1rem 1rem !important;
}
.plan-card .card-header {
    display: flex;
    flex-direction: column;
    background-color: var(--light-pink-clr);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: fit-content;
    justify-content: center;
    z-index: 1;
}
.plan-card .card-header p:nth-child(2) {
    font-size: small;
}
.plan-card .card-header > p {
    font-size: medium;
}
.plan-card .card-body {
    background-color: white;
}

@media screen and (min-width:576px) and (max-width:778px) {
    .plan-card .card-header {
        min-height:8rem ;
    }
    .plan-card .card-header p:nth-child(2) {
        font-size: smaller;
    }
    .plan-card .card-header > p {
        font-size: medium;
    }
}
@media screen and (min-width:778px) {
    .plan-card .card-header {
        min-height:7.8rem ;
    }
    .plan-card .card-header p:nth-child(2) {
        font-size: medium;
    }
    .plan-card .card-header > p {
        font-size:large;
    }
}
.plan-card .ul-and-text {
    display: none;
    list-style-image: url(./pics/bullet-list-vector.png);  
}
.plan-card > .card-body button {
    background-color: var(--dark-pink-clr);
    color: white;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 2px 3px var(--gray-txt-clr);
}
.plan-card .ul-and-text button {
    background-image: url(./pics/arrow-up-vector.png);
    background-color: var(--dark-pink-clr);
    background-repeat: no-repeat;
    width: 3rem;
    height: 2.5rem;
    background-size: 0.9rem 0.7rem;
    background-position: center;
    display: flex;
    align-content: center;
    margin-top: 1rem;
}
.mobile-app-text {
    text-decoration: underline;
    text-decoration-color: #EC9CD3;
    text-underline-offset: 0.7rem;
}
#mobile-app-title {
    background-color: var(--button-gray);
    padding: 0.5rem;
    color: var(--gray-txt-clr);
    border-radius: 7px; 
}
#mobile-app-shop-icon {
    border: solid var(--gray-mid-clr) 1px;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-app-card {
  border: var(--gray-mid-clr) 1px solid;
  border-radius: 1.5rem;
  max-width: 18rem;
}
.undraw-img-cont {
    display: flex;
    justify-content: center;
}
.undraw-img {
    background-image: url(./pics/undraw_content_re_33px\ \(1\)\ 1.png);
    width: 12rem;
    height: 10rem;
    background-size: 12rem 10rem;
    text-align: center;
}
.js-card {
    outline: var(--peach-clr) 5px solid;
    border: white 0.5px solid;
    border-radius: 1.5rem;
    width: fit-content;
    height: auto;
    max-width: 18rem;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.js-card .card-title {
    color: var(--gray-dark-clr);
}
.js-card .card-text{
    display: flex;
    align-items: center;
    height: 10rem ;
    font-size: 1rem;
    color: var(--gray-txt-clr);
} 

.js-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.js-card-hover-effect {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: fit-content;
  position: absolute;
  border-radius: 25px 25px 10px 10px;
  padding-top: 1.2rem;
  padding-right:1rem ;
}

.js-card-hover-effect div {
    gap: 0.7rem;
    margin-bottom: 1rem;
}
.js-card-hover-effect div > .eye-vector {
    width: 1.6rem;  
    object-fit: contain;
}
.js-card-hover-effect div > .document-vector {
    width: 1.6rem;  
    height: 1.2rem;
    object-fit: contain;
}
.js-card-hover-effect div > .user-vector {
    width: 1.6rem;  
    height: 1.4rem;
    object-fit: contain;
}
.js-card-hover-effect > div  a {
   font-size: small;
   color: white;
   text-decoration: none;
  
}
.js-card button {
    background-color: var(--peach-clr);
    color: white;
    padding: 0.9rem 0.7rem;
    border-radius: 1rem;  
    z-index: 1;  
}
.js-card .js-card-close-btn {
    background-color: transparent;
    border: none;
    width: fit-content;
    height: auto;
    position: absolute; 
    left: 0.5vw;
}
.js-card .time-cont {
    gap: 0.5rem;
    height: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.js-card .time-cont p {
    color: var(--gray-mid-clr);
}
.js-card .time-cont > .col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #7E869E40;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
}
.js-card .time-cont > .col-3 {
    height: fit-content;
}
footer > * {
    padding: 0 1rem !important;
}

footer hr:nth-child(1) {
    background-color: var(--green-clr);
    opacity: 1;
    height: 0.2rem;
    border-top: none;
   
}
footer .footer-group p {
    font-size: small;
    cursor: pointer;
}
footer .footer-group p:first-child {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: var(--gray-dark-clr) !important;
}
footer .col-6 > .enamad-img {
  max-width: 10rem;
  max-height: 10rem;
}
footer .final-footer p, footer .final-footer a {
    font-size: smaller;
    color: var(--gray-txt-clr);
}

@media screen and (min-width:778px) {
    footer .final-footer row:first-child > .col-12 {
        width: min-content;
        height: min-content;
     }
     footer .final-footer p, footer .final-footer a {
        font-size: small;
     }
}
@media  screen and (min-width:992px) {
    footer .final-footer p, footer .final-footer a {
        font-size: medium;
    }
}
footer .final-footer div:first-child {
    text-align: start;
}
footer a {
    text-decoration: none;
    color: var(--gray-txt-clr);
}
